POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

POSTGRES_HOST_PORT=5432
TASKS_DB_DATABASE=tasks-service
AUTH_DB_DATABASE=auth-service
FILES_DB_DATABASE=files-service

GATEWAY_PORT=3000
CORS_ORIGINS=http://localhost:3000
AUTH_PORT=3001
TASKS_PORT=3002
TASKS_GRPC_PORT=50052
AUTH_GRPC_PORT=50051
FILES_GRPC_PORT=50051

JWT_SECRET=change-me
JWT_EXPIRES_IN=3600s
MAX_UPLOAD_SIZE=1048576
GRPC_TIMEOUT_MS=5000
TASKS_GRPC_TIMEOUT_MS=10000
