STAGE=dev

GRPC_PORT=50051

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=change-me
DB_DATABASE=auth-service

JWT_SECRET=dev-jwt-secret-change-me-32-chars-min
JWT_EXPIRES_IN=3600s
DUMMY_BCRYPT_HASH=$2b$10$Hr41zQ5k2XVdHm4barBoROykMtNWqvbwuLm/QUq3dY2tzd50Lj1Uu
